<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Chrystal's Shoe Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
h1 {
         height: 300px;
         background-color: green);
         text-align: center;
   }
   p {
        
        text-align: center;
    }
</style>
</head>

<body>



<h1>Welcome to Chrystal's Shoe Store!</h1>
<p>We are so happy you decided to visit. Check our <a href="/about">about us</a> page</p>


</body>

</html>